* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #222;
    font-family: sans-serif;
}

button,
input,
li {
    padding: 0.5rem;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li i {
    border: 1px solid white;
    padding: 0.5rem;
}